<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<form class="form" action="makeForm" method="POST">
    <label for="teacherName">Teacher's Name</label>
    <input type="text" name="teacherName"/>
    <label for="className">Class Name</label>
    <input type="text" name="className"/>
    <label for="question">Question</label>
    <input type="text" name="question"/>
    <Button type="submit">Submit</Button>
</form>

</body>